:root{
    --background-color: #1d1d1d;
    --background-color-alt: #000000;
    --background-color-alt-with-opacity: rgba(0,0,0,0.9);
    --font-color: #FFFFFF;
    --accent-color:#0000FF;
    --muted-color: #727070;
    --text-muted: #303031;
    --mono-font: small-caps normal "Liberation Mono" monospace, monospace;
    --menu-color: #0000FF;
    --menu-font-color: #ffffff;
    --jumbotron-padding-y: 2rem;
    --jumbotron-padding-x: 1rem;
  }
  html, body{
    height:100%;
    font-family: "Liberation Sans", sans-serif;
    color: var(--font-color);
    background:var(--background-color-alt);
    
    width:99vw;
    height:auto;
  }
  .bg-dark{
    background:var(--background-color) !important;
  }
  .card{
    background-color: var(--muted-color);
  }
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background:var(--background-color-alt);
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 80%;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .card-text{ margin-bottom: 5px;}
  
  .p-top {
    padding-top: 2rem;
  }
  .p-bottom {
    padding-bottom: 2rem;
  }

  /* Custom */
.text-muted{
  color: var(--text-muted) !important;
}

  .accent-inline-text{
    margin: 0 !important;
    padding: 0 !important;
    color: var(--accent-color);
  }

  #doom-headline{
    background-color: var(--background-color-alt-with-opacity);
    background-image: url("https://i.scdn.co/image/511e32b12e290ad615b6cb563504304a2a25148d");
    position: relative;
  }

  .jumbotron-heading {
    font-size: 2.7rem;
  }

  #doom-headline-content{
    background-color: var(--background-color-alt-with-opacity);
  }

  .doom-link{
    color:var(--font-color);
    text-decoration: none;
    font-weight: bold;
  }

  .doom-link:hover{
    color:var(--font-color);
    text-decoration: underline;
  }
